@import "variables.scss";
@import "icons.scss";

:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ffffff;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --icon-primary: #aa2323;
  --icon-secondary: #ff0000;
}

*,
**,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: 5rem; /* contains everything visual minus the navbar */
}
/* scrollbar styles */
body::-webkit-scrollbar {
  height: 0.25rem;
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--icon-secondary);
}

main {
  margin-top: -20px; /* fixes the gap above navbar */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Sedgwick Ave Display", "Poppins", cursive;
}

/* Navbar */
.navbar {
  width: 5rem;
  height: 100%;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 200ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-family: "Poppins", cursive;
}

.nav-link svg {
  width: 1.5rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover svg {
  width: 2.5rem;
}

.navbar:hover .link-text {
  display: block;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  background-color: var(--icon-secondary);
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 1s;
}

.navbar:hover .logo svg {
  transform: rotate(-540deg);
  width: 3.5rem;
}

/* HERO */
html,
body,
.hero {
  height: 100%;
}

.hero {
  width: 100%;
  min-height: 600px;
  height: 100vh;
  background: url(./images/black-smoke.png);
  background-size: cover;
}

/* text animations on hero */
.hero h1 {
  animation: fadeIn ease 750ms;
}

.hero h3 {
  animation: fadeIn2 ease 750ms;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  color: black;
  width: 100%;
  position: relative;
  top: 35%;
  text-shadow: 2px 2px 4px #797979;
}

h3 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 700;
  color: white;
  width: 100%;
  position: relative;
  top: 40%;
  text-shadow: 2px 2px 4px #797979;
}

h1 span {
  transition: all 1s ease;
  color: white;
}

h1 > span.fade {
  color: black;
}

/* Projects section */

h2 {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
  text-shadow: 2px 2px 4px #797979;
}

.projects-section {
  margin: 0 auto;
  max-width: 10000px;
  height: 100%;
  width: 100%;
  background: black;
  border-bottom: 50px solid black;
  margin-bottom: 0;
}

.portfolio-items-wrapper {
  margin: 0;
  width: 100%;
}

.portfolio-item-wrapper {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 4px;
}

.portfolio-item-wrapper img {
  width: 100%;
  border-radius: 2px;
}

.subtitle {
  color: white;
  text-align: center;
  font-size: 1rem;
  text-shadow: 2px 2px 4px #797979;
}

.img-darken {
  transition: 0.5s; /* project img darken effect on hover w/javascript */
  filter: brightness(60%);
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  background: url(./images/black-smoke-180.png);
  background-size: cover;
}

.contact-text {
  color: white;
  padding-top: 75px;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #797979;
}

.large-text {
  font-size: 3rem; /* "Let's Talk" */
}

.social-links {
  display: flex;
  flex-direction: row;
  text-shadow: 2px 2px 4px white;
}

.social-links a {
  color: black;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  margin-top: 130px;
  padding: 5px;
  font-size: 0.7rem;
  font-family: "Poppins", cursive;
  font-weight: 700;
}

.social-links a:hover {
  transform: scale(1.3);
  transition: ease-in-out 0.7s;
  -moz-transform: scale(1.3);
  -moz-transition: ease-in-out 0.7s;
  -webkit-transform: scale(1.3);
  -webkit-transition: ease-in-out 0.7s;
  color: #ffffff;
  text-shadow: 2px 2px 4px black;
}

.contact-details:hover #insta {
  color: rgb(224, 72, 98);
}

.contact-details:hover #linked-in {
  color: rgb(34, 19, 255);
}

.contact-details:hover #github {
  color: rgb(43, 14, 112);
}

.contact-details:hover #email {
  color: rgb(165, 22, 22);
}

/* Media Queries */

@media (min-width: 400px) {
  h2 {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .large-text {
    font-size: 4rem;
  }
  .social-links a {
    font-size: 1rem;
    padding: 10px;
  }
}
/* moves navbar from side to bottom */
@media only screen and (max-width: 600px) {
  .container {
    margin-left: 0;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
  .link-text {
    margin-left: 0;
  }
  .nav-link span {
    justify-content: center;
    text-align: center;
  }
  .navbar svg {
    width: 1.5rem;
    margin-left: -10px;
  }
  .navbar:hover svg {
    width: 1rem;
    margin-right: 8px;
  }
  .navbar:hover {
    width: 100%;
  }
}

/* changes from 1 column grid to a 2 column grid */
@media (min-width: 900px) {
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    grid-gap: 0;
  }
  main {
    margin-top: -27px; /* fixes navbar gap */
  }
  h1,
  h3 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .large-text {
    font-size: 4rem;
  }
  .social-links a {
    font-size: 1rem;
    padding: 10px;
  }
}
/* changes from 2 column grid to a 3 column grid */
@media (min-width: 2000px) {
  .portfolio-items-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
